:root {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f5f0e6;
  background-color: #132015;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
